#search{
    border: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--darkblue);
    padding: 0.5rem 0;
    width: 0px;
    border-bottom: 3px solid var(--darkblue);
    vertical-align: middle;
    transition: 0.5s width ease-in-out;
}

#search:focus{
    outline: none;
}

#search-bar{
    display: flex;
    align-items: center;
}

#search-bar:hover #search, #search:focus{
    width: 12vw;
}

.all-category .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.banner{
    height: 25vh;
    background-image: url(../Assets/all-banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50%;
    padding-right: 4%;
}

.banner h1{
    letter-spacing: 5px;
    font-size: 4rem;
    font-style: italic;
    color: var(--skyblue);
}

.banner p{
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--white);
}

.all-gallery{
    padding: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.item{
    flex: 1 1 250px;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-image{
    padding: 10px;
}

.item-image img{
    width: 160px;
    height: 240px;
    object-fit: cover;
}