@import url("/css/base.css");

.left-section .logo{
    z-index: 999;
}

.title, input{
    color: var(--darkblue);
    letter-spacing: 0.1em;
    font-size:1.5rem;
}

.slogan, label, button, a{
    color: var(--lightblue);
    letter-spacing: 0.1em;
    font-size:1.5rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 300;
   
}

.bold{
    font-weight: 600;
}

input::placeholder{
    color: var(--lightblue);
    font-style: italic;
    transition: 0.3s;
}

.border-success{
    border-bottom: solid 3px var(--lightblue) !important;
}   

.border-error{
    border-bottom: solid 3px rgb(214, 23, 23);
}

button{
    background-color: var(--darkblue);
    color: #B5DCEB;
    border-radius: 10px;
}

button:hover{
    box-shadow: 0px 7px 20px rgba(125, 146, 184, 0.7);
    transition: 0.3s;
}

.label-on{
    color: var(--lightblue);
}

.label-off{
    color: white;
}

label.error{
    color: rgb(214, 23, 23);
    font-size:1rem;
    text-align:right;
}

.forgot{
    font-size: 1rem;
    color: #7C8DAB80;
}

a:hover{
    color: var(--darkblue)
}